<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TradeTips</title>
    <link rel="icon" href="images/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style1.css">
    <link rel="stylesheet" type="text/css" href="css/responsive1.css">
  </head>
  <body>

   
    <link rel="stylesheet" href="css/style.css">
    <script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">


    <script>
        window.addEventListener("load", function() {

            var url_string = window.location.href; 
            var urls = new URL(url_string);
            var sData = localStorage.getItem('allTokenData');
            var storageData= JSON.parse(sData);
            $("#user_nickname").val(storageData.uname);
            $('#user_id').val(storageData.uid);
            // var today = new Date();
            // // alert(today);
            // var str = today.toDateString().split(' ').slice(1).join(' ') + " at " + today.toLocaleTimeString() + " GMT+5:30";
            // // alert(str);
            // $('#dateval').val(str);
    });
    </script>
      <style type="text/css">
      .chat
      {
          list-style: none;
          margin: 0;
          padding: 0;
          
      }

      .chat li
      {
          margin-bottom: 40px;
          padding-bottom: 5px;

          /* border-bottom: 1px dotted #B3A9A9; */
          /*margin-top: 10px;
          width: 80%;*/
      }


      .chat li .chat-body p
      {
          margin: 0;
          /* color: #777777; */
      }


      .chat-care
      {
          overflow-y: scroll;
          height: 350px;
      }
      .chat-care .chat-img
      {
          width: 50px;
          height: 50px;
      }
      .chat-care .img-circle
      {
          border-radius: 50%;
      }
      .chat-care .chat-img
      {
          display: inline-block;
      }
      .chat-care .chat-body
      {
          display: inline-block;
          max-width: 80%;
          background-color: #ffff;
          border-radius: 12.5px;
          padding: 15px;
      }
      .chat-care .chat-body strong
      {
        color: #000;
      }

      .chat-care .admin
      {
          text-align: right ;
          float: right;
      }
      .chat-care .admin p
      {
          text-align: left ;
      }
      .chat-care .agent
      {
          text-align: left ;
          float: left;
      }
      .chat-care .left
      {
          float: left;
      }
      .chat-care .right
      {
          float: right;
      }

      .clearfix {
        clear: both;
      }

      h1, h2, h3, h4, h5, h6, p {
          color: #000;
      }


      ::-webkit-scrollbar-track
      {
          box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          background-color: #F5F5F5;
      }

      ::-webkit-scrollbar
      {
          width: 12px;
          background-color: #F5F5F5;
      }

      ::-webkit-scrollbar-thumb
      {
          box-shadow: inset 0 0 6px rgba(0,0,0,.3);
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
          background-color: #555;
      }


      </style>
<!--       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 -->
      <div class="app_mains">
                  

       <div class="app_content">
          <div class="dsbrd_container">


          <div class="dashboard_wrapper mentordashboard1_wrapper card" style="height: 600px;background: #000d31;">
                <div class="card-header text-center" style="border: none!important;">
                    <span style="color: white;"><b>Room One</b></span>
                </div>
                <div class="card-body chat-care">
                    <ul class="chat" id="tasks">

                    
                    </ul>
                </div>
                <div class="card-footer" style="padding: 0px;">
                   <form onsubmit="return handleCreate(event)">
                      <div class="input-group">
                        <input type="hidden" id="user_id">
                        <input type="hidden" id="user_nickname">
                       <!--  <input type="hidden" id="dateval"> -->
                        <span class="input-group-btn">
                             <input type="file" style="display: none;">
                             <!-- <span class="name">No file selected</span> -->
                                <i class="fa fa-paperclip attachment btn btn-primary" aria-hidden="true" style="height: 38px;"></i>
                          
                        </span>
                        <input id="btn-input" type="text" class="form-control input-lg" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </span>
                     
                      </div>
                   </form>
                </div>
          </div>

        </div>

      </div>

  </div>

 </div>
 </div>


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<!--     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
 -->

<script>
  

$(".card-body").animate({ scrollTop: $(document).height() }, "fast");
</script>

<script  src="https://www.gstatic.com/firebasejs/8.2.2/firebase-app.js"></script>

<script  src="https://www.gstatic.com/firebasejs/8.2.2/firebase-auth.js"></script>
<script  src="https://www.gstatic.com/firebasejs/8.2.2/firebase-firestore.js"></script>

<script  src="https://www.gstatic.com/firebasejs/8.2.2/firebase-database.js"></script>
<script  src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase.js"></script>


    <script src="js/main12.js"></script>

      <script type="text/javascript" src="js/custom.js"></script>


<!--     <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
 -->
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script src='js/inputEmoji.js'></script>
  <script>
    $(function () {
      $('#btn-input').emoji({place: 'after'});
    })
  </script>
<br>

</body>
</html>