  <%- include partials/innerheader %>

<!--   <link rel="stylesheet" href="dist/sample.index.css">


 -->
   <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">


  <div class="app_main">
                  
            <%- include partials/innersidebar %>
        <div class="app_content">
          <div class="dsbrd_container">
            <div class="flex flex-col items-center mt-32 text-white text-2xl">
              <p>Thank you for Purchase.</p>
              <p>Your payment has been received.</p>
              <a href="/subscribe"><button class="bg-blue-700 rounded p-4 mt-3">Return</button></a>
            </div>
          
          </div>
        </div>

  </div>
 <!--  <script src="https://js.stripe.com/v3/"></script>
<script src="/js/card.js"></script> -->

     <%- include partials/innerfooter %>



     <!--  <div class="col-sm-9"  style="height:800px;color: white;">


            <br>
              <h2>
                <b>Chat Room One</b>
              </h2>
              <br>
              <ul style="list-style: none;">
                <li><h5><b>1. We believe</b> in personal rights and freedom.</h5> </li>
                <br>
                <li><h5><b>2. This space</b> is for sharing winning trades and investing strategies, and yes to speak your mind.</h5> </li>
                <br>
                <li><h5><b>3. The app</b> was designed to help anyone make money and beat the market. So, as long as you don’t stand in the way of that ... we are good to go.</h5> </li>
              </ul>
              <br>
              <a href="/chat">
              <input type="hidden" id="user_id">
              <input type="hidden" id="user_nickname">
              <button type="button" class="nav-link" id="login-button">Enter Room</button>
              </a><br>    

              <a href="/firebase">
           
              <button type="button" class="nav-link" id="login-button">Enter Firesbase Chat</button>
              </a><br>          
      </div> -->


  

<!--     <script src="dist/sample.index.js"></script>
 -->  

    <script type="text/javascript">

   window.history.forward(); 
        function noBack() { 
            window.history.forward(); 
        } 

       
 </script>

