  <%- include partials/innerheader %>

<style type="text/css">
  .card {
    background: #021036;
    color: white;
  }

  .btn-link:hover {
    color: white;
  }

  button.btn.btn-link{
    color: white; 
  }
</style>

  <div class="app_main">
                  
            <%- include partials/innersidebar %>
        <div class="app_content">
          <div class="dsbrd_container">

            <div class="col-10 mx-auto">
            <div class="accordion" id="faqExample">
                <div class="card">
                    <div class="card-header p-2" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Q: Can you trade on TradeTips?
                            </button>
                          </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Answer:</b> No, you cannot trade on TradeTips today. We are far more interested in giving you the tools to help you become a successful investor, than getting you access to the stock market. Use TradeTips as a companion to your trading app
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingTwo">
                        <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Q: What is a TradeTips Mentor?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                        <div class="card-body">
                           TradeTips is a technology platform that allows the aggregation of investing coaches and trading experts, we call Mentors.<br/>They all must go through a strong vetting process before being allowed to join TradeTips as a Mentor, and are the only ones allowed to create and post stock tips on the app. 4. Bootstrap can be used to quickly build responsive websites.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Q. Can I talk directly to a Mentor?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                        <div class="card-body">
                            Yes, we strongly encourage you to reach out to Mentors with your questions and comments.<br/>There are several ways to communicate with a Mentor: <br/>1. Click on a Mentor’s Tip and leave a comment for them on the Tip Detail. <br/>2. Ask them a question in the Public Chat Room. <br/>3. Take a Mentor’s group class in a their own chat room. <br/>4. Book time with a Mentor in 1-on-1 training sessions.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Q. Can I become a TradeTips Mentor?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                        <div class="card-body">
                            Yes, we would like our members who are serious about investing and who have a great track record to reach out to us
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              Q. Can I communicate with friends on the app?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                        <div class="card-body">
                            Yes, you can connect with friends on TradeTips.<br/>1. Click on a Mentor’s Tip and leave a comment for them on the Tip Detail.<br/>2. Communicate with them in the Public Chat Room.<br/>3. Take a Mentor’s group class together with your friends.<br/>4. Tweet a mentor tip to your own Twitter feed and get advice on the stock tip from friends there.<br/>5. Follow friends who are on the app and share ideas on tips.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              Q. Can I learn to invest on the app?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqExample">
                        <div class="card-body">
                            Yes, we designed the app to help people who do not know much about investing, get started and take charge of their financial lives.<br/> You can begin to learn by asking questions in the Chat Room One and on Mentor Tips. Then we recommend taking a class with a Mentor or sign up for a 1-on-1 session with a Mentor.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingSix">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                              Q. What do I get for my subscription?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqExample">
                        <div class="card-body">
                            1. Continued access to all the Mentor tips and AI generated Tips.<br/>2. Access to Mentor’s 1-on-1 sessions and classes.<br/>3. Access to other chat rooms and exclusive app only events.<br/>4. Automatic track and notify you when the stocks you choose are in a position to buy or sell.<br/>5. Access to 5-Day AI Predictions for all stocks.<br/>Most importantly, you get a community of members and Mentors who are dedicated to helping you make money from the stock market … we want you to make money … you … yes you, specifically. That’s our goal.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingSeven">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                              Q. What if I want a refund?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqExample">
                        <div class="card-body">
                            You can receive a refund. You are eligible to receive a refund for any reason up to the end of the 1st week of subscription only.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingEight">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                              Q. Can I start a chat room?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#faqExample">
                        <div class="card-body">
                            Nope, only Mentors can start chat rooms. You can ask a Mentor to start a chat room with a topic for you though.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingNine">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                              Q. Can I follow someone on the app?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#faqExample">
                        <div class="card-body">
                            Yes. Click on any user’s profile icon or photo or their name. Then on their profile screen click the button that says “Follow”. If the button says “Following” you are then following that user.<br/>You can also look at their Following tab on their profile and see who they are Following … if you would like to expand your network.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingTen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                              Q. Can I change my username?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#faqExample">
                        <div class="card-body">
                            No, your username is set once you create the account. Please reach out to us on TradeTipsApp.com if you have an issue with your username.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingEleven">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                              Q. Can I change my user photo?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#faqExample">
                        <div class="card-body">
                           Yes. Click on the profile icon or the edit text on your profile screen.<br/> Then give TradeTips access to your camera and photos to provide us with a photo of you.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingTwelve">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                              Q. What about sharing on social media?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#faqExample">
                        <div class="card-body">
                            We currently allow sharing of Mentor Tips on Twitter through the app.<br/> We would like to extend this to other social media applications. If you would like us to share information on a specific platform, let us know which ones by contacting us at <a>sayhello@tradetipsapp.com.</a>
                        </div>
                    </div>
                </div>
            </div>

             </div>
             
             
          </div>
        </div>

  </div>

     <%- include partials/innerfooter %>



    <script type="text/javascript">

   window.history.forward(); 
        function noBack() { 
            window.history.forward(); 
        } 

       
 </script>

