  <%- include partials/innerheader %>

   
    <link rel="stylesheet" href="css/style.css">
   
  
    <link rel="stylesheet" href="css/emoji.css">
    <link rel="stylesheet" href="css/chatWindow.css">
    <script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.css" integrity="sha512-0Nyh7Nf4sn+T48aTb6VFkhJe0FzzcOlqqZMahy/rhZ8Ii5Q9ZXG/1CbunUuEbfgxqsQfWXjnErKZosDSHVKQhQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css" integrity="sha512-vEia6TQGr3FqC6h55/NdU3QSM5XR6HSl5fW71QTKrgeER98LIMGwymBVM867C1XHIkYD9nMTfWK2A0xcodKHNA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script>
        window.addEventListener("load", function() {

             var url_string = window.location.href; 
            var urls = new URL(url_string);
            var sData = localStorage.getItem('allTokenData');
            var storageData= JSON.parse(sData);
            // alert(JSON.stringify(storageData));
            $("#user_nickname").val(storageData.uname);
            $('#user_id').val(storageData.uid);
            $('#user_fcm_token').val(storageData.fcmToken);

            // alert(storageData.fcmToken);
           

            var fcmToken = document.getElementById('user_fcm_token').value;
            // alert(fcmToken);


          firebase.auth().signInWithCustomToken(fcmToken)
            .then((userCredential) => {
              // Signed in
              // console.log(userCredential);
              var user = userCredential.user;
              // var ids = userCredential.uid;
              console.log(user.uid);
              // ...
            })
            .catch((error) => {
              console.log("error is" + error);
              var errorCode = error.code;
              var errorMessage = error.message;
              // ...
            });
    });
    </script>
      <style type="text/css">


      </style>
<!--       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 -->
      <div class="app_main">
                  
       <%- include partials/innersidebar %>
<!-- 
       <style type="text/css">
         #chatbox-history {
  overflow: none;
  position: relative;
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
}
#messages {
  overflow: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 200px;
}
#messages div {
  border: 1px solid #e2e4e3;
  margin: 5px;
  padding: 10px;
  background: #fafafa;
}
       </style> -->

       <div class="app_content">
          <div class="dsbrd_container">
            <input type="hidden" id="nickdatavalue">

          <div class="dashboard_wrapper mentordashboard1_wrapper card" style="background: #ffff;">
                <div class="card-header text-center" style="border: none!important;">
                    <span><b>Room One</b></span>
                </div>

                <div class="room">
                  <span>
                    <a class="rooms" role="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rooms <svg   xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg></a> 

                    <div class="dropdown-menu" aria-labelledby="dropdownUser" id="roomslist">
                      <ul>
                        <li><a href="/chatWindow">
           
                          <span id="room-Button-1">Enter Strategy Room</span>
                          </a>
                        </li>
                        <li><a  id="notmodalcalling">
           
                          <span id="room-Button-2">Enter @basilnsage Room</span>
                          </a>
                          <div class="modal fade" id="exampleModalCenterpin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div>
                                  <h5 class="header-flag" id="exampleModalLongTitle">Enter Room Code</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
            
                                 <div class="pincode">
                                    <div class="reasonFlag">
                                      <form id="formoid" enctype="multipart/form-data" onsubmit="return false">
                                      <input type="password" id="pcode" class="pin" placeholder="Enter Code Here"/>
                                      <br>
                                     <button type="submit" class="Btn_P btn btn-primary" id="Btn_Pop">Submit</button>
                                     </form>
                                    </div>
                                </div>
                              
                              </div>
                            </div>
                          </div>
                        </li>

                      </ul>

                    </div>  

                  </span>
                </div>

<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div id="chatbox-history">
  <div id="messages">
    <div>asdjf ;asd</div>
    <div>ajsd fa ;skd f;s</div>
    <div>asdjf ;akjs d;lf a;lksd fj</div>
    <div>ajsd fkaj s;dlf a;ljsdl;fkja;lsd f; asd</div>
    <div>Wassup?</div>
  </div>
</div>
    <script type="text/javascript">
        $('#messages').scrollTop($('#messages')[0].scrollHeight);
    </script> -->

                 <div id="fountainG">
                    <div id="fountainG_1" class="fountainG"></div>
                    <div id="fountainG_2" class="fountainG"></div>
                    <div id="fountainG_3" class="fountainG"></div>
                    <div id="fountainG_4" class="fountainG"></div>
                    <div id="fountainG_5" class="fountainG"></div>
                    <div id="fountainG_6" class="fountainG"></div>
                    <div id="fountainG_7" class="fountainG"></div>
                    <div id="fountainG_8" class="fountainG"></div>
                  </div>
                <div class="card-body chat-care">
                    <ul class="chat" id="tasks">
                    </ul>
                </div>
                <div class="card-footer" style="padding: 0px;">
                   <form onsubmit="return handleCreate(event)">
                      <div class="input-group">
                        <input type="hidden" id="user_id">
                        <input type="hidden" id="user_nickname">
                        <input type="hidden" id="user_fcm_token">
                       <!--  <input type="hidden" id="dateval"> -->
                        <span class="input-group-btn">
                             <input type="file" style="display: none;">
                             <!-- <span class="name">No file selected</span> -->
                             <i class="fa fa-paperclip attachment btn btn-primary" aria-hidden="true" style="height: 38px; display:table-cell"></i>
                          
                        </span>
                        <input id="btn-input" type="text" class="form-control input-lg" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" id="Btn_1">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </span>
                     
                      </div>
                   </form>
                </div>
          </div>

        </div>

      </div>

  </div>

 </div>
 </div>


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<!--     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
 -->

<script>
  

// $(".card-body").animate({ scrollTop: $(document).height() }, "fast");

// $(document).ready(function() {
//     $('.card-body').animate({
//         scrollTop: $('.card-body').get(0).scrollHeight
//     }, 1000);
// });
</script>

<script  src="https://www.gstatic.com/firebasejs/8.2.2/firebase-app.js"></script>

<script  src="https://www.gstatic.com/firebasejs/8.2.2/firebase-auth.js"></script>
<script  src="https://www.gstatic.com/firebasejs/8.2.2/firebase-firestore.js"></script>

<script  src="https://www.gstatic.com/firebasejs/8.2.2/firebase-database.js"></script>
<script  src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase.js"></script>


    <script src="js/main12.js"></script>

      <script type="text/javascript" src="js/custom.js"></script>


<!--     <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
 -->
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script src='js/inputEmoji.js'></script>
   <script>
    
    
    $("#tasksuserlisttotal").on("click", function () {
      $("body").addClass("open__sidebar");
    });
    $(".app_header").on("click", function () {
      $("body").removeClass("open__sidebar");
    });
 
    $(function () {
      $('#btn-input').emoji({place: 'after'});

      $('.emoji-button').on("click", function(e){
        if($('.emojis').is(":visible")){
            // alert('click');
             e.preventDefault();

        }
      })

      $('emojis').on("hide", function() {
          //alert('hide');
       })
       $('emojis').on("show", function() {
          //alert('show');
       })

    })


    
  </script>
<br>
<script>
      var preloader = document.getElementById("fountainG");

      window.addEventListener("load", function(){
        preloader.style.display ="none"
      })
    </script>


<script src="js/vanillaEmojipicker.js"></script>
<script>

$(document).keypress(function (e) {
  
  if (e.which == 13) {
   e.preventDefault();
   $('#Btn_1').click();
  //  alert('Click button was trigger');
  }
 });
</script>


<script type="text/javascript">

window.history.forward(); 
     function noBack() { 
         window.history.forward(); 
     } 

      window.addEventListener("load", function() {

        var sData = localStorage.getItem('allTokenData');
          var storageData= JSON.parse(sData);
          // alert(JSON.stringify(storageData));
          $("#user_nickname").val(storageData.uname);
          $('#user_id').val(storageData.uid);
          $('#user_fcm_token').val(storageData.fcmToken);
        



        // document.getElementById("modalcalling").style.display = "block";
      

       var config = {
apiKey: "AIzaSyA0o46jRmw6OghL2fcpdIcNWDeG1EQ5upQ",
authDomain: "tradetips-9baa3.firebaseapp.com",
databaseURL: "https://tradetips-9baa3.firebaseio.com",
projectId: "tradetips-9baa3",
type: "service_account",
project_id: "tradetips-9baa3",
storageBucket: "tradetips-9baa3.appspot.com",
messagingSenderId: "592114858590",
appId: "1:592114858590:web:2e2f77237953b570fb52cf",
measurementId: "G-B3RPK4JXG3",
private_key_id: "9efaa0e3e7bf1fac231c69b552514e210442b223",
private_key: "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDoxICupYmqJ8yY\nmWkKk8lWp3dKzdAfOkAuyb8yrD9WWYOSUsAMIBY+irMBy74uFeJry8hfHicsBWSW\nuzL04S2S6dlJfeuBFI7GmgNIUG3GDfBROKeUS/XUzY2qg0+dNvgYgFbzoBNc0sMH\nxf4Ezarp/3CDqroWQRD0hvn2zUjNOnWqMP4NcZZfhyNJJcrFyvEWcMs8gWR0r+fQ\nijbGVgqf1n9T+HpGBXkXi9X3tZHe3HW4P6n0gjLU1eU8kOr6V6LDDAngp6ESsuQJ\nAyN81Sz9Axi4hygyWl7Oq7zpitVQxjHwzdMuWMGb/GbnHsleJRYHErk85qaHAvp1\nuS416baJAgMBAAECggEACe+VZJ8ZVMOVJrBpvPNZBVNpsq49Y4/bfIPNHw8eNwPk\nK2NP4lSeTnYiNQHq8NGrVBmjSHgjiOwEArEj+DMCfIJx7YKsAlsLyyt412XjgbBH\noVfvQ1PIvxg1I2GujNHzXixgSc779Jrki1jmwnK7CHkIZv5rKhcF78IxOllB8cyn\nsDdEOkYPAvYeVpIG1j3JQD4Yeo5xyT/MEhzZKqvNeg+uKkDS9R3P5jz94gRTbAtv\n3sKuS6Hrx2tn+BmqhpG1YFlKGMeTpAN42Jf96HJZQQvzho1AmTJh1Ep3fCgMOYhW\n0IJa1JnfVlHlZrL2NmLJ7ac+7yCIBPCXGtkihaHmzwKBgQD4g3si7vB2PBFTXxX5\nTJ0LubY/zyMp0sja/Rp2JYVVHh2WNHa6/TKyxksCG2OlMHbHV99QTrBuIyVYPWbN\njGPeQQAwd+y31RhHyePG99gwxvY8rRSzrEoPev6/6LHM5MdPqNzyujY0w0kUp5UR\nUyANKnCVeOll4IEmApBNfT3UhwKBgQDvx5buPbqdGA4mPKmEq/TLUy4OXVCnd1e3\nOe95qQIcbChCCAkSVeJ3nSvE5d0eBGJNlhaWeTA3DP/963o4frkRmaQJK9BsXdnb\nVj5iG3QRRKCYpamH1kY1AHc/G7P7a4hBPJ+4yblpGBiC7EayG9uBhgDA2sdLOPWW\nF1pZ20TwbwKBgAjz66a5hu4rgdBIF6mQigPXH+qykqi6EERbY+2nsmL7n8M+hpx7\n7KymGiOsSu2zjkPmNYRWIWMGXx0LsT1sdliWbORSHbQNuD811b/gQ+iV8l8DOUCz\nz0M5gh31yxn/j/KducAA110VP/e/hc5G+VugEMhBv97MtLpi00IHZgfXAoGBAIBq\nmWfQwY/+4R0TYgp++aSnUMQ6r8ZwwRaNPbcfj9TfDBSJLyqVuqsrDtTt8qVv3aIF\n3uUJ1Iu3N6arJZL6M228pkCPKZnQDaxNnS133IqfAY+fMZNha8pZDIRM9vCRH7Eo\nobYau2UQlZgQqLAdAUt2FBM1WITt5YFT0nzLVTmbAoGBAO/p5zqkeQ3Yjt7qIs8g\nbQTByK/9TsDRdiK9RfsEKuq70BHLuyYoW6jt9yR4AlbQHEFjGek9mWw4k45aZB5P\n2vjISHPiQoAAGVE9eowmvcckYn+IFFkNIs9s3UBX1d2RBzOgy3XMYE897DWGmKc+\n7F3mTXJtUyyjUqERXKBTYxN0\n-----END PRIVATE KEY-----\n",
client_email: "firebase-adminsdk-olv1b@tradetips-9baa3.iam.gserviceaccount.com",
client_id: "112955508654296836542",
auth_uri: "https://accounts.google.com/o/oauth2/auth",
token_uri: "https://oauth2.googleapis.com/token",
auth_provider_x509_cert_url: "https://www.googleapis.com/oauth2/v1/certs",
client_x509_cert_url: "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-zgd2j%40chatdemo-96e4f.iam.gserviceaccount.com",
vapidKey: 'BN2e4vqb2-OY-QX6Z0531oQ1pSiiEUNQU2SEcSaEiMvJFcy8unSAW6gPrFJQeHz0VQyPu2JLqVuaFDnfeDmpy3o'

};


// firebase.initializeApp(config);
// alert("ok")

var db = firebase.firestore();
// $("#user_nickname").val(storageData.uname);
          // $('#user_id').val(storageData.uid);
var loggedInName = storageData.uname
  //  alert(loggedInName);
         
         var loggedInVal = $('#user_id').val(storageData.uid);
         // alert(LoggedInId);
var nummers = db.collection("/basilPrivateGroup/Test/groupMembersInfo/").where('userName', '==', loggedInName);
nummers.get().then(function (querySnapshot) {
  if(querySnapshot){
    console.log("okkk")
    querySnapshot.forEach(function (doc) {
      console.log(doc.id, ' => ', doc.data());
      document.getElementById("notmodalcalling").href="/chatWindowAdminUser";
 });

}

if(querySnapshot.empty){
 console.log("not available");
   document.getElementById("notmodalcalling").setAttribute("data-target", "#exampleModalCenterpin");
        document.getElementById("notmodalcalling").setAttribute("data-toggle", "modal");
}

});

// function getGroupDetail() {
  
//     var monthlies = db.collection("/basilPrivateGroup").doc("Test").get();
//     monthlies.then((res) => {
//       // document.getElementById('room-button-2').innerText = "Enter " + res.data().groupTitle + " Room";
      
//        console.log(res.data().groupTitle);

//     });


// }

// getGroupDetail();

   function getGroupDetails() {
  
       var monthlies = db.collection("/basilPrivateGroup").doc("Test").get();
       monthlies.then((res) => {
        // console.log(res.data().groupCode);
        document.getElementById('room-Button-2').innerText = "Enter " + res.data().groupTitle + " Room";

       });


}

 getGroupDetails();

function getGroupDetailroomOne() {

    var monthlies = db.collection("/openGroups").doc("demoOpenGroup1").get();
    monthlies.then((res) => {
      document.getElementById('room-Button-1').innerText = "Enter " + res.data().groupTitle + " Room";
      console.log(res.data().groupTitle);

    });


}

getGroupDetailroomOne();



// getGroupDetailroomOne();

// alert("done")

$("#formoid").submit(function(event){
// alert("hiii");
event.preventDefault();

 var monthlies = db.collection("/basilPrivateGroup").doc("Test").get();
    monthlies.then((res) => {
     // console.log(res.data().groupCode);
       var enterCode    = document.getElementById('pcode');
       if(enterCode.value == res.data().groupCode){
         var loggedInName = storageData.uname
        //  var loggedInName = $("#user_nickname").val(storageData.uname);
         // alert(userName);
         
      var loggedInVal= storageData.uid
        //  var loggedInVal = $('#user_id').val(storageData.uid);
         // alert(LoggedInId);

const docRef = db.collection("/basilPrivateGroup/Test/groupMembersInfo/");

 let task = {
 userName: loggedInName,
 userId : loggedInVal,
 id : loggedInVal + "_"+  Date.now(),
 createdDate :  Date.now(),
 profileImageUrl : "https://apistest.tradetipsapp.com/api/appUser/getImageByAppUserId?appUserId="+loggedInVal,
 messageSource : "Web"
 // status: "incomplete"
 };

 return docRef
   .add(task)
   .then((ref) => {
     // alert(ref.id);
     task.id = ref.id;

  window.location.href="/chatWindowAdminUser";

    
   });

 }else{
   console.log("false");
   alert("You enter Wrong code !!");
   $(".successmsg").html('<span>You enter Wrong Code !!</span>');
       setTimeout(function(){$(".successmsg").empty()}, 5000); 
 }

});


});

       
        var url_string = window.location.href; 
          var urls = new URL(url_string);
          var sData = localStorage.getItem('allTokenData');
          var storageData= JSON.parse(sData);
          // alert(JSON.stringify(storageData));
          $("#user_nickname").val(storageData.uname);
          $('#user_id').val(storageData.uid);
          $('#user_fcm_token').val(storageData.fcmToken);

          
          
          document.getElementById("nickdatavalue").setAttribute('value',loggedInName);
          
          var fcmToken = document.getElementById('user_fcm_token').value;
         // $("#nickdatavalue").val(userName);
         // var today = new Date();
         // // alert(today);
         // var str = today.toDateString().split(' ').slice(1).join(' ') + " at " + 
         // today.toLocaleTimeString() + " GMT+5:30";
         // // alert(str);
         // $('#dateval').val(str);


       firebase.auth().signInWithCustomToken(fcmToken)
         .then((userCredential) => {
           // Signed in
           // console.log(userCredential);
           var user = userCredential.user;
           // var ids = userCredential.uid;
           console.log(user.uid);
           // ...
         })
         .catch((error) => {
           console.log("error is" + error);
           var errorCode = error.code;
           var errorMessage = error.message;
           // ...
         });
 });


 // /////////////////////////////////////

</script>
</body>
</html>