<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TradeTips</title>
  <link rel="icon" href="images/favicon.png" type="image/png" sizes="16x16">
  <link rel="stylesheet" type="text/css" href="css/bootstrap1.min.css">
  <link rel="stylesheet" type="text/css" href="css/fontawesome1-all.min.css">
  <link rel="stylesheet" type="text/css" href="css/style1.css">
  <link rel="stylesheet" type="text/css" href="css/responsive1.css">
</head>
<body>

        <!-- Body Flyers Start -->
    <div class="body_flyer body_flyer1">
      <img src="images/body-flyer.png" alt="images">
    </div>
    <div class="body_flyer body_flyer2">
      <img src="images/body-flyer.png" alt="images">
    </div>
    <!-- Body Flyers End -->


    <!-- Login Start -->
    <div class="onboard_wrapper">
      <div class="account_bx login_bx">
        <div class="account_bx_head">
          <a href="#"><img src="images/logo.png" alt="images"></a>
        </div>
        <div class="account_bx_txt text-center">
          <h2>Forgot Password</h2>
          <p>Enter your TradeTips account email.</p>
        </div>
        <div class="account_bx_frm">
          <input type="text" class="form-control" id="Email" name="Email" placeholder="Enter Email Address" required="required">
          </div>
            <button class="btn cmn_btn btn_primary" id="forgot" style="float: right;">Submit</button>
         <a href="/"><button class="btn cmn_btn btn_secondary">Back</button></a>
         
        </div>
      </div>
    </div>
  </div>
    <!-- Login End -->

 <script type="text/javascript" src="js/jquery-3.5.1.slim.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/fontawesome-all.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">

    window.history.forward(); 
        function noBack() { 
            window.history.forward(); 
        } 

    window.addEventListener("load", function() 
       {
      var url_string = window.location.href; 
      var urls = new URL(url_string);
       //alert(urls);
    $('#forgot').on('click', function() { 
            var Email = $('#Email').val();
            if(Email!=""){
                    $.ajax({
                          type: 'POST',
                          url: 'https://apistest.tradetipsapp.com/api/appUser/getAvailabilityAppUserByEmail',
                          data:{
                            email : Email
                          },
                        success: function(data) {
                          var datak = JSON.stringify(data);
                          var Result = JSON.parse(datak);
                          //console.log(Result);
                          //alert(Result);
                          if(Result == true){
                             // alert("Sent");
                             $.ajax({
                                   type: 'POST',
                                   url: 'https://apistest.tradetipsapp.com/api/auth/forgotPassword',
                                   data:{
                                     useremail : Email
                                   },
                                success: function(data) {
                                  var datak = JSON.stringify(data);
                                  var Result = JSON.parse(datak); 
                                  //console.log(Result);
                                  alert("Email Sent");
                                  window.location.href = "/forgetPassword";
                                  }
                                });
                              }
                          else{
                           alert('This email is not registered !');
                           window.location.href = "/forgetPassword";
                          }

                       }
                     });
                  
               }  
            else{
              alert('Please fill all the field !'); 
            }
                });

    });


       
 </script>

</body>
</html>