<%- include partials/innerheader %>
<!-- Page Content Start -->
<div class="app_main">
                  
   <%- include partials/innersidebar %>

           <div class="app_content">
            <div class="dsbrd_container">
              <div class="dashboard_wrapper row">
                <div class="card-body">
                <h3 class="card-title">Success !</h3> 
                <h4 class="card-title">Thank you , Rahul for signing up for</h4> 
                <h4 class="card-title"><span id="nameService"></span></h4> 
                <h4 class="card-title">By <span id="mentorNameService"></span></h4>
                <h5 class="card-title">Next Steps :</h5>
                <h6 class="card-title">Look out for an email at rahul@gmail.com with the instructions on getting started.</h6> 
                <p class="card-text">Remember to check you Spam and Promotional folders if you do not received an email about our service in the next 72 hours.</p>
                <p class="card-text">If you experience any issues please contact us at :</p> 
                <p class="card-text">contact@TradeTipsApp.com</p>
                </div> 
              </div>
            
            </div>

          </div>
          <br>
      <style type="text/css">
  .successmsg
{ color: #fff;
   padding-left: 350px;
}

/* .input-group{
  width:180%
} */

/*.app_content{
  right:12%;

}*/

.edit_profile_form{
  /* position:relative;
  left:30%; */
width:100%
}
</style>    
                      

  </div>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  
      </div>
    <div class="sidebar-overlay"></div>
    </div>
    <!-- Header End -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type="text/javascript" src="js/jquery-3.5.1.slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/fontawesome-all.min.js"></script>
    <script type="text/javascript" src="js/slimscroll.min.js"></script>
    <script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>

    <script type="text/javascript" src="js/custom.js"></script>
    

 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.magicsearch.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 -->  </body>
</html>



<script type="text/javascript">

var subsids = "<%= service %>";
  var formdata = {serviceSubscriptionPlanId : subsids};
   $.ajax({
        type: 'POST',
        url: 'https://apistest.tradetipsapp.com/api/serviceMentorSubscriptionPlanWeb/getServiceSubscriptionPlanById',
        data: formdata,
        success: function(data) {
           var datak = JSON.stringify(data);
          // alert(datak);
          var dataResultp = JSON.parse(datak); 
          // alert(dataResultp.title);
           let str = dataResultp.stripeProductName;
          str = str.split("_")[0];

          document.getElementById("nameService").innerHTML = dataResultp.title;
          document.getElementById("mentorNameService").innerHTML = str;
        
        
        }

      });

  window.history.forward(); 
       function noBack() { 
           window.history.forward(); 
       } 

 
      
</script>
